@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
  transition: all 1s;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(-45deg, #064e3b, #34d399, #16a34a);
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
